
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <a class="navbar-brand" href="#">Kris Glover</a>
        </div>
        <div class="">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="https://github.com/gloverke">Github</a></li>
                <!--<li><a href="#contact">Contact</a></li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container ">

    <div class="starter-template">
        <h1>Sample Site</h1>
        <p class="lead">This site is runs samples from my github account</p>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Simple Chat</h2>
                <p>A simple chat rails engine that demonstrates the use of ServerSideEvents for pushing live data to the browser from the server.</p>
                <p><a class="btn btn-default" href="/simple_chat/rooms" role="button">Demo &raquo;</a></p>
                <p><a class="btn btn-default" href="https://github.com/gloverke/simple_chat" role="button">Github &raquo;</a></p>
            </div>
        </div>


    </div>



</div><!-- /.container -->
